*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body{background-image: url("Images/fundo.png");
  background-color: rgb(230, 230, 245);
  background-size: cover;
  background-repeat: no-repeat;
  height: 93vh;  
}
.height100{
  height: 100%;
}
.height50{
  height: 50%;
}
.height30{
  height: 30%;
}
.mgLeftAuto{
  margin-left: auto;
}
.dropdown-menu{
  left: -132px;
}
.dropdown-toggle::after{
  display: inline-block;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left: .0;
}
.modal-content{
  min-height: 550px;
}
.textColor{
  color: #000;
}
.logo{
    max-width: 50%;
}
.ajuste1{
    margin-left: 15%;
}
.bgcab{
    background-color: rgb(8, 23, 60);
}
.buttonCab{
    background-color: rgba(225, 255, 255, 0.1);
}
.buttonCab:focus{
    background-color: rgba(255,255,255 0.5);
}
.buttonCab:hover{
    background-color: rgba(225, 255, 255, 0.2);
}
.imagem{
    position: static;
    width: 80%;
    height: auto;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.1);
    text-shadow: rgba(0, 0, 0, 0.1);
}
.imagem:hover{
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}
@media screen and (min-width: 1000px){.titulo{
    width: 80%;
    justify-content: center;
    font-size: 200%;
    border-radius: 4px;
    background-color: rgba(38, 54, 98, 1);
    color: rgba(255, 255, 255, 0.5);
  }}
@media screen and (max-width: 1235px){.titulo{
    width: 80%;
    justify-content: center;
    font-size: 150%;
    border-radius: 4px;
    background-color: rgba(38, 54, 98, 1);
    color: rgba(255, 255, 255, 0.5);
  }}
@media screen and (max-width: 998px){.titulo{
    width: 80%;
    justify-content: center;
    font-size: 100%;
    border-radius: 4px;
    background-color: rgba(38, 54, 98, 1);
    color: rgba(255, 255, 255, 0.5);
  }}
@media screen and (max-width: 744px){.titulo{
    width: 80%;
    justify-content: center;
    font-size: 66%;
    border-radius: 4px;
    background-color: rgba(38, 54, 98, 1);
    color: rgba(255, 255, 255, 0.5);
  }}
.infos{
    width:100%;
    border: none;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 4px;
    background-color: rgba(245,245,250,0.5)
}
.tipo{
    font-size: x-small;
    width: 42px;
    background-color: rgb(38, 54, 98);
    color: rgba(255, 255, 255, 0.6);
    padding: 3px;
    border-radius: 3px;
}
.tipo2{
  font-size: x-small;
  width: 34px;
  background-color: rgb(38, 54, 98);
  color: rgba(255, 255, 255, 0.6);
  padding: 3px;
  border-radius: 3px;
}
.tipo3{
  font-size: x-small;
  width: 52px;
  background-color: rgb(38, 54, 98);
  color: rgba(255, 255, 255, 0.6);
  padding: 3px;
  border-radius: 3px;
}
.titulo2{
    font-size: 200%;
    font-weight: bold;
    color: rgb(38, 54, 98)
}
.texto{
  font-size: small;
  color: rgb(130, 142, 170);
}
.infos:hover{
  border: 2px solid rgb(222, 235, 245);
  background-color: rgba(240,242,255,0.75);
}
.infos:focus{
  outline: none;
}
@media screen and (min-width: 1000px){.dicas{
  width: 80%;
  justify-content: center;
  font-size: 200%;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgb(38, 54, 98);
  border-radius: 4px;
}}
@media screen and (max-width: 1494px){.dicas{
  width: 80%;
  justify-content: center;
  font-size: 150%;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgb(38, 54, 98);
    border-radius: 4px;
}}
@media screen and (max-width: 1146px){.dicas{
  width: 80%;
  justify-content: center;
  font-size: 100%;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgb(38, 54, 98);
    border-radius: 4px;
}}
@media screen and (max-width: 796px){.dicas{
  width: 80%;
  justify-content: center;
  font-size: 68%;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgb(38, 54, 98);
  border-radius: 4px;
}}
.foto{
  width: 80%;
  height: 100%;
  margin-top: 5px;
  margin-bottom: 8px;
  border: 5px solid rgb(38, 54, 98);
  justify-content: center;
  align-items: center;
  background-color: black;
}
.foto:hover{
  border: 7px solid rgba(199,195,54, 1)
}
.bgperfil{
  background-color: rgba(60, 79, 36, 1);
}
.nameFont{
  color: #0A2233;
  font-size: 110%;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 3px;
  padding-top: 3px;
  justify-content: center;
  background-color: #E1E9EF;
  border-radius: 15px;
  border: 1000px;
}
.perfilFont{
  color: rgba(222, 235, 245, 0.5);
  font-size: 95%;
}